.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text-color);
    margin-top: 2.4rem;
    margin-bottom: 0.56rem;

    a {
      color: var(--text-color);
      text-decoration: none;

      &:hover,
      &:focus {
        color: var(--text-color);
        text-decoration: none;
      }
    }
  }

  p {
    margin-bottom: 1rem;
  }
}
