:root {
  --container-width: min(80vw, 768px);
  --background-color-alt: hsl(188 10% 94%);
  --background-color: hsl(188 2% 97%);
  --text-color: hsl(188 5% 20%);
  --text-color-alt: hsl(188 12% 24%);
}
